﻿@model IEnumerable<ConnShop.tbl_product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>San Pham</h2>

@foreach (var item in Model)
{
    @*<div class="col-md-3 col-sm-6">
        <div class="product-item">
            <div class="product-thumb">
                <img src="@item.image" alt="">
            </div> <!-- /.product-thum -->
            <div class="product-content">
                <h2>@Html.ActionLink(item.productname, "detail", new { id = item.product_id })</h2>
                <span class="price">@item.price</span>
            </div> <!-- /.product-content -->
        </div> <!-- /.product-item -->
        <div class="product-option-shop">
            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="@item.product_id">Add to cart</a>
        </div>
    </div> <!-- /.col-md-3 -->*@



    <div class="col-md-3 col-sm-6">

        <div class="single-shop-product">
            <div class="product-upper">
                <img src="@item.image" alt="">
            </div>
            <h2><a href="">@Html.ActionLink(item.productname, "Details", new { id = item.product_id })</a></h2>
            <div class="product-carousel-price">
                <ins>@item.price</ins>
            </div>

            <div class="product-option-shop">
                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="@item.product_id">Add to cart</a>
            </div>
        </div>
        </div>

        }

